body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#timer {
  font-size: 24px;
  font-weight: bold;
}
